{% block label_tags %}
    <div class="ui labels">
        {% for label in labels %}
                <a class="ui blue label" data-label-id="{{ label.id }}">
                    {{ label.text }} <i class="icon close"></i>
                </a>
        {% endfor %}
    </div>
{% endblock %}