<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% block fonts %} {% include 'AppBundle::fonts.html.twig' %} {% endblock %}
            {% stylesheets '@vendor_css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        {% block additional_css %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="notify"></div>
        <div id="full_modal" class="ui basic modal"></div>
        {% block header %} {% include 'AppBundle::header.html.twig' %} {% endblock %}

        <div class="ui container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {% javascripts '@vendor_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block additional_javascripts %}{% endblock %}
        {% block facebook_js_sdk %} {% include 'AppBundle::facebookJsSdk.html.twig' %} {% endblock %}
    </body>
</html>
