{% block header %}
    <header id="navigation" class="ui fixed menu">
        <div class="ui container">
            <div class="item">
                <img src="/themes/default/assets/images/lrlogo.png" id="logo" class="ui image"/>
            </div>
            <a href="{{ path('home') }}" class="item core">
                {#<i class="home icon"></i>#} Home
            </a>
            <a href="{{ path('fr_upload_image') }}" class="item core active">
                {#<i class="image icon"></i>#} Images
            </a>
            <div class="right menu">
                {% if app.user %}
                    <div id="navigation_notify_dropdown" class="ui pointing dropdown item">
                        <div class="trigger">
                            <i class="alarm icon"></i>
                        </div>
                        <div class="menu">
                            <h4 class="ui horizontal divider header">
                                <i class="tag icon"></i>
                                Description
                            </h4>
                            <a href="{{ path('user_profile', {username: app.user.username}) }}" class="item"><i class="user icon"></i>Profile</a>
                            <a href="{{ path('user_settings') }}" class="item"><i class="setting icon"></i>Settings</a>
                            <a href="{{ path('user_login_logout') }}" class="item"><i class="sign out icon"></i>Sign Out</a>
                        </div>
                    </div>
                    <div id="navigation_user_dropdown" class="ui pointing dropdown icon link item">
                        <div class="trigger">
                            <img class="ui avatar image" src="{{ app.user.currentAvatarPath }}">
                            <span>{{ app.user.username }}</span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="{{ path('user_profile', {username: app.user.username}) }}" class="item"><i class="user icon"></i>Profile</a>
                            <a href="{{ path('user_settings') }}" class="item"><i class="setting icon"></i>Settings</a>
                            <a href="{{ path('user_login_logout') }}" class="item"><i class="sign out icon"></i>Sign Out</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{{ path('user_login_login') }}" id="sign-in" class="item">Sign In</a>
                    <a href="{{ path('user_register') }}" id="sign-up" class="item">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}