{% javascripts
    '@UserBundle/Resources/public/js/main.js'
    '@UserBundle/Resources/public/js/login.js'
%}
    <script type="text/javascript">
        loadJavascript('{{ asset_url }}');
    </script>
{% endjavascripts %}
{% block body %}
    <div id="login-box" class="ui centered bare form segment error">
        <div id="login_cover" class="image content"></div>

        <br>
        <div id="login_form_errors" class="ui negative message display none"></div>
        <button id="continue_with_facebook" class="ui left aligned fluid facebook large button">
            <i class="facebook icon"></i>
            Continue with Facebook<br>
            <small>We will never post without asking.</small>
        </button>
        <div class="ui horizontal divider">
            Or
        </div>
        {{ form_start(form, { 'attr': {'id': 'login_form', 'class': 'ui form margin-bottom-none'} }) }}
            <div class="field">
                <div class="ui icon input">
                    {{ form_widget(form.username, { 'id': 'login_username'} ) }}
                </div>
            </div>
            <div class="field">
                <div class="ui icon input">
                    {{ form_widget(form.password, { 'id': 'login_password' } ) }}
                </div>
            </div>
            <div class="field margin-bottom-none">
                {{ form_widget(form.submit, { 'id': 'login_submit', 'label': 'Sign In', 'attr': {'class': 'fluid ui default disabled button'} }) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
