/*.image.thumbnail {
    border: 0px solid transparent;
    !*width: 250px;
    height: 250px;*!
    max-height: 150px;
    vertical-align: middle;
    margin: 20px 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    transition: box-shadow 0.1s ease-in-out;
}

.image.thumbnail:hover {
    cursor: pointer;
    border-radius: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}*/


.uploaded-image-wrapper,
.image.thumbnail {
    display: inline-block;
    position: relative;
    z-index: 40;
    border-radius: 5px;
    border: 10px solid #302B2A;
    border-top: 0px;
    margin: 10px;
    overflow: hidden;
}

.uploaded-image-wrapper.padded-for-info {
    padding-top: 25px;
}

.image.thumbnail {
    border-top: 10px solid #302B2A;
}

.uploaded-image-wrapper .dimmer,
.image.thumbnail .dimmer {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.uploaded-image-wrapper img,
.image.thumbnail img {
    height: 150px;
    margin: 0;
    padding: 0;
    margin-bottom: -5px;
}

.image.thumbnail img {
    margin-top: 0;
}

.uploaded-image-wrapper .info {
    display: block;
    background-color: #302B2A;
    line-height: 25px;
    height: 25px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33);
    border-radius: 0px;
    font-size: 12px;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image.thumbnail .select {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 60px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    visibility: hidden;
}

.uploaded-image-wrapper .remove {
    visibility: hidden;
    opacity: 0.8;
    border: none;
    color: #ffffff;
    font-size: 40px;
    width: 100%;
    height: 100%;
    position: relative;
}

.uploaded-image-wrapper .remove i {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 65px;
}

.uploaded-image-wrapper:hover,
.image.thumbnail:hover{
    cursor: pointer;
}

.uploaded-image-wrapper:hover > .remove,
.uploaded-image-wrapper:hover > .dimmer,
.image.thumbnail:hover > .select {
    visibility: visible;
}

.image.thumbnail:hover > .dimmer {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.5);
}

.image.thumbnail.selected:hover > .dimmer {
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}

.image.thumbnail > .dimmer {
    visibility: visible;
}

.image.thumbnail.selected > .dimmer {
    visibility: hidden;
}

.images.wrapper {
    text-align: justify;
    text-align-last: justify;
}

#image_upload_preview {
    min-height: 200px;
    text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
    color: #0e0e0e;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 422px;
    margin: 0;
    padding: 2px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #2f364a;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #2f364a;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

#image_upload_preview {
    background: rgba(241, 241, 241, 1);
    position: relative;
}

#image_upload_preview:hover {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: rgba(241, 224, 150, 0.4);
}

.background-text {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 22px;
    color: #363636;
}

.qq-upload-drop-area-active {
    border: 10px solid red;
}

#tag_search {
    font-size: 20px;
    box-shadow: none;
    background-color: white;
    width: 300px;
    padding: 18px;
    padding-left: 10px;
    margin-bottom: 10px;
    max-height: 30px;
    color: #302B2A !important;
}

.simplete-wrapper {
    position: relative;
    display: inline-block;
}

.simplete {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    top: 45px;
    left: 0;
}

.simplete ul {
    background-color: white;
    list-style: none;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-before: 0.3em;
    -webkit-padding-after: 0.3em;
}

.simplete ul li {
    padding: 8px 10px 8px 10px;
    border-radius: 2px;
}

.simplete ul li:hover {
    background-color: cornflowerblue;
    color: whitesmoke;
    cursor: default;
}

.simplete-highlight {
    color: #0d71bb;
    font-weight: bold;
}
