#register_cover {
    background: url('/themes/default/assets/images/register_bg.jpg') 50%;
    background-size: cover;
    height: 250px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    border-radius: 3px 3px 0 0;
}