{% extends "::base.html.twig" %}

{% block title %}QuoteBundle:Api:getSingleQuote{% endblock %}

{% block body %}
<h1>Welcome to the Api:getSingleQuote page</h1>
    <h2>{{ quoteBody }}</h2>
{% endblock %}
