{% extends "AppBundle::base.html.twig" %}

{% block additional_javascripts %}
    {% javascripts '@UserBundle/Resources/public/js/settings.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="nav-body-gap"></div>
    <div class="ui form segment blue error four column grid padded" id="settings_box">
        {{ form_start(form, { 'attr': {'class': ''} }) }}
        {#<div class="disabled field six wide column">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
        </div>
        <div class="field">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>#}
        <div class="two fields">
            <div class="two wide field relative">
                {{ form_label(form.avatar) }}
                <div id="change_avatar_box">
                    <img src="{{ app.user.currentAvatarPath }}" id="avatar_preview" class="ui image small centered"/>
                    {{ form_widget(form.avatar, {'attr': {'class': 'file input'} }) }}
                </div>
                {#{{ form_widget(form.avatar_change_button, {'attr': {'class': 'ui fluid small blue button'} }) }}#}
                {{ form_widget(form.avatar_crop_values) }}
                {{ form_widget(form.avatar_changed) }}
            </div>
            <div class="six wide field relative">
                {{ form_label(form.cover) }}
                <div id="change_cover_box">
                    <img src="{{ app.user.currentCoverPath }}" id="cover_preview" class="ui fluid image"/>
                    {{ form_widget(form.cover, {'attr': {'class': 'file input'} }) }}
                </div>
                {#{{ form_widget(form.cover_change_button, {'attr': {'class': 'ui fluid small blue button border-radius-top-none'} }) }}#}
                {{ form_widget(form.cover_crop_values) }}
                {{ form_widget(form.cover_changed) }}
            </div>
        </div>
        <div class="field eight wide column">
            {{ form_label(form.gender) }}
            <div class="ui selection dropdown">
                {{ form_widget(form.gender) }}
                <i class="dropdown icon"></i>
                <div class="default text">Gender</div>
                <div class="menu">
                    <div class="item" data-value="0">Unknown</div>
                    <div class="item" data-value="1">Male</div>
                    <div class="item" data-value="2">Female</div>
                    <div class="item" data-value="3">Attack Helicopter</div>
                </div>
            </div>
        </div>
        <div class="eight wide field">
            {{ form_label(form.birthday) }}
            <div class="three fields">
                <div class="field">
                    {{ form_widget(form.birthday.month) }}
                </div>
                <div class="field">
                    {{ form_widget(form.birthday.day) }}
                </div>
                <div class="field">
                    {{ form_widget(form.birthday.year) }}
                </div>
            </div>
        </div>
        <div class="eight wide field">
            {{ form_label(form.location) }}
            {{ form_widget(form.location) }}
        </div>
        <div class="eight wide field">
            {{ form_label(form.introduction) }}
            {{ form_widget(form.introduction) }}
        </div>
        <div class="field margin-bottom-none">
            {{ form_widget(form.submit, {'attr': {'class': 'ui medium darkblue button'} }) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}