html {
    min-height: 100%;
}
body {
    position: relative;
    background-color: #fff;
    margin-top: 54px;
    margin-bottom: 54px;
    overflow-y: scroll;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.nav-body-gap {
    display: block;
    content: ' ';
    height: 20px;
}

.ui.segment {
    background-color: #f1f1f1;
    margin-top: 0 !important;
}

.ui.waterfall.segment {
    height: 100%;
    margin-bottom: 54px;
}

.ui.container {
    height: 100%;
}

@media only screen and (min-width: 1800px) {
    .ui.container {
        width: 1570px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1799px) {
    .ui.container {
        width: 1370px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (min-width: 1300px) and (max-width: 1499px) {
    .ui.container {
        width: 1177px;
    }
}

#notify {
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0;
    z-index: 9999;
    display: block;
    width: 100%;
}

#notify .message {
    border-radius: 0;
    font-size: 15px;
    border: transparent;
    box-shadow: none;
    padding: 0;
    line-height: 54px;
}

#notify .positive {
    color: white;
    font-weight: bold;
    background-color: green;

}

.clearfix {
    clear: both;
}

.ui.centered.form {
    width: 500px;
    margin: auto;
}

#full_modal {
    width: 500px;
    margin: auto;
    left: 0;
    right: 0;
}

input {
    height: 50px;
    color: #222;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


.ui.form.bare input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #CDD3D7;
}

.ui.form.bare input:focus {
    border-radius: 0;
    border-bottom: 1px solid #2185D0;
}

.ui.form .field.success input:not([type]), .ui.form .field.success input[type=text], .ui.form .field.success input[type=email], .ui.form .field.success input[type=search], .ui.form .field.success input[type=password], .ui.form .field.success input[type=date], .ui.form .field.success input[type=datetime-local], .ui.form .field.success input[type=tel], .ui.form .field.success input[type=time], .ui.form .field.success input[type=file], .ui.form .field.success input[type=url], .ui.form .field.success input[type=number], .ui.form .field.success select, .ui.form .field.success textarea, .ui.form .fields.success .field input:not([type]), .ui.form .fields.success .field input[type=text], .ui.form .fields.success .field input[type=email], .ui.form .fields.success .field input[type=search], .ui.form .fields.success .field input[type=password], .ui.form .fields.success .field input[type=date], .ui.form .fields.success .field input[type=datetime-local], .ui.form .fields.success .field input[type=tel], .ui.form .fields.success .field input[type=time], .ui.form .fields.success .field input[type=file], .ui.form .fields.success .field input[type=url], .ui.form .fields.success .field input[type=number], .ui.form .fields.success .field select, .ui.form .fields.success .field textarea {
    background: #f7fff6;
    border-color: #b6e0b4;
    color: #569f38;
    border-radius: 0;
    box-shadow: none;
}

.ui.menu .item:before {
    display: none;
}

#form_submit {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ui.modal {
    position: fixed;
    top: 30px;
}

.ui.modal .ui.segment {
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    border-radius: 3px;
}

#full_modal {
    padding: 0;
}

.margin-bottom-none {
    margin-bottom: 0px !important;
}

small {
    font-weight: normal;
}

body.animating.in.dimmable, body.dimmed.dimmable {
    overflow-y: scroll !important;
}

.border-radius-top-none {
    -moz-border-radius-topleft: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
    border-top-left-radius: 0 !important;

    -moz-border-radius-topright: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.border-radius-bottom-none {
    -moz-border-radius-bottomleft: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    -moz-border-radius-bottomright: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.ui.darkblue.button,
.ui.darkblue.buttons .button {
    background-color: #245ac2;
    color: #fff;
}

.ui.darkblue.button:hover,
.ui.darkblue.buttons .button:hover {
    background-color: #0544c2;
}

.display.none {
    display: none;
}
