{% extends "AppBundle::base.html.twig" %}

{% block additional_javascripts %}
    {% javascripts '@ImageBundle/Resources/public/js/uploader.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="nav-body-gap"></div>
    <div class="ui">
        {% if secondStep is same as(1) %}
            <div id="image_upload_step_one" class="display none">
        {% else %}
            <div id="image_upload_step_one">
        {% endif %}
                <div class="ui small steps">
                    <div class="active step">
                        <i class="upload icon"></i>
                        <div class="content">
                            <div class="title">Upload</div>
                            <div class="description">Choose and upload your images</div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="tag icon"></i>
                        <div class="content">
                            <div class="title">Tag</div>
                            <div class="description">Add tags and some other info</div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="check icon"></i>
                        <div class="content">
                            <div class="title">Finalize</div>
                            <div class="description">Confirm and get your images fully uploaded!</div>
                        </div>
                    </div>
                </div>
            <br/>
                <div id="image-upload-messages"></div>
                <div id="image_upload_preview" class="ui segment padded">
                    <div class="background-text">Drag&Drop</div>
                </div>

                <button id="image-upload-start" class="ui darkblue button">Upload</button>
        </div>
        {% if secondStep is same as(1) %}
            <div id="image_upload_step_two">
        {% else %}
            <div id="image_upload_step_two" class="display none">
        {% endif %}
            <div class="ui small steps">
                <div class="disabled step">
                    <i class="upload icon"></i>
                    <div class="content">
                        <div class="title">Upload</div>
                        <div class="description">Choose and upload your images</div>
                    </div>
                </div>
                <div class="active step">
                    <i class="tag icon"></i>
                    <div class="content">
                        <div class="title">Tag</div>
                        <div class="description">Add tags and some other info</div>
                    </div>
                </div>
                <div class="step">
                    <i class="check icon"></i>
                    <div class="content">
                        <div class="title">Finalize</div>
                        <div class="description">Confirm and get your images fully uploaded!</div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="ui padded segment">
                <h4 class="ui horizontal divider header">
                    <i class="image icon"></i>
                    Uploaded images
                </h4>
                <div id="image_upload_unfinished_images">
                {% if secondStep is same as (1) %}
                    {% include 'ImageBundle:Default:unfinishedImageUploads.html.twig' %}
                {% endif %}
                </div>
            </div>
            <div id="tag_section" class="ui segment">
                <h4 class="ui horizontal divider header">
                    <i class="tag icon"></i>
                    Tag selected
                </h4>
                <div id="tagger_box" class="ui icon input">
                    <input type="text" id="tag_search" placeholder="Search tags...">
                    <i class="circular search link icon"></i>
                </div>
                <div id="tag_section_loader" class="ui inverted dimmer">
                    <div class="ui text loader">Loading</div>
                </div>

                <div id="image_upload_show_tags"></div>
            </div>
            <h4 class="ui horizontal divider header">
                <i class="finish icon"></i>
                Finish
            </h4>
            <button id="image_upload_finish" class="ui darkblue button">Finish</button>
        </div>
    </div>
    <div id="image_upload_step_three" class="display none">
        <div class="ui small steps">
            <div class="disabled step">
                <i class="upload icon"></i>
                <div class="content">
                    <div class="title">Upload</div>
                    <div class="description">Choose and upload your images</div>
                </div>
            </div>
            <div class="disabled step">
                <i class="tag icon"></i>
                <div class="content">
                    <div class="title">Tag</div>
                    <div class="description">Add tags and some other info</div>
                </div>
            </div>
            <div class="active step">
                <i class="check icon"></i>
                <div class="content">
                    <div class="title">Finalize</div>
                    <div class="description">Confirm and get your images fully uploaded!</div>
                </div>
            </div>
        </div>
        <br/>
        <div class="ui padded segment">
            <h4 class="ui horizontal divider header">
                <i class="image icon"></i>
                Finished images
            </h4>
            <div id="image_upload_finished_images"></div>
        </div>
        <a href="{{ path('fr_upload_image') }}" class="ui darkblue button">Upload more</a>
    </div>
    <br class="clearfix"/>
{% endblock %}